<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>alesia.site</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/jquery.js" defer></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.js" defer></script>
  </head>
  <body>
  {% block content %}

  <p>WAZZUP</p>


  {% endblock %}
  </body>
</html>