{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
        <h2>{{ "Ссылки" }}</h2>

     <div id="wrapper">
      <!-- Left Menu Links -->

      <div id="list1">
        <ul>

            <li><a href="materials.html">Материалы</a></li>

            <li><a href="tasks.html">Задания</a></li>

            <li><a href="links.html">Ссылки</a></li>

        </ul>
      </div>


         <table align="center">
             <tr>
                <td><a class="col-md-4" href="http://www.adukacyja.by/"><h4>adukacyja.by</h4></a></td>
                 <td><p class="col-md-10">Обучающий сайт, на котором вы найдете курсы по разнообразным темам. Курсы включают в себя теоретические материалы и практические задания.
             Для доступа к некоторым курсам необходимо получить кодовое слово у преподавателя.</p></td>
            </tr>
             <tr>
                <td><a class="col-md-4" href="http://www.e-learning.by/"><h4 class="link-description">e-learning.by</h4></a></td>
                 <td><p class="col-md-10">Портал электронного обучения, на котором Вы найдете новости из области электронного обучения в Беларуси.
                     Также на сайте ежегодно появляется информация о мероприятии "Летняя школа", которое является площадкой для обмена опытом создания электронных обучающих ресурсов.
                 </p></td>
            </tr>

              <tr>
                <td><a class="col-md-4" href="http://adu.by/"><h4>adu.by</h4></a></td>
                 <td><p class="col-md-10">Образовательный ресурс для школьников, их родителей и руководителей. Здесь Вы найдете большую базу учебных материалов и программ.
                 Также на сайте есть информация о проводимых образовательных мероприятиях.</p></td>
            </tr>

         </table>
    <!--<a class="link-description" href="http://www.adukacyja.by/">adukacyja.by</a>-->
         <!--<p class="article-description">Обучающий сайт, на котором вы найдете курсы по разнообразным темам. Курсы включают в себя теоретические материалы и практические задания.-->
             <!--Для доступа к некоторым курсам необходимо получить кодовое слово у преподавателя.</p>-->
         <br>

         <br>

</div>
{% endblock %}

