{% extends "base.html" %}

{% block title %}
<h1>{{ "Электронное обучение в Беларуси" }}</h1>
{% endblock %}

{% block content %}

    <h4 class="description">Перед Вами образовательный ресурс, который предоставляет доступ к разнообразным научным
        статьям на тему электронного обучения,
        облачных технологий и современных тенденций в e-Learning. Все содержащиеся на данном сайте публикации были
        написаны белорусскими авторами.
        В разделе "Материалы" Вы найдете большое количество статей, которые доступны для чтения и скачивания. На
        странице
        "Задания" Вы сможете проверить приобретенные знания по изложенным темам. Сторонние образовательные ресурсы
        находятся в разделе "Ссылки".
    </h4>
</div>
{% endblock %}

