{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
        <h1>{{ "Электронное обучение в Беларуси" }}</h1>
<div class="row">
    <div id="wrapper">
      <!-- Left Menu Links -->

      <div id="list1">
        <ul>

            <li><a href="materials.html">Материалы</a></li>

            <li><a href="tasks.html">Задания</a></li>

            <li><a href="links.html">Ссылки</a></li>

        </ul>
      </div>
    </div>
</div>
    <h4 class="description">Перед Вами образовательный ресурс, который предоставляет доступ к разнообразным научным статьям на тему электронного обучения,
    облачных технологий и современных тенденций в e-Learning.Все содержащиеся на данном сайте публикации были написаны белорусскими авторами.
        В разделе "Материалы" Вы найдете большое количество статей, которые доступны для чтения и скачивания. На странице
        "Задания" Вы сможете проверить приобретенные знания по изложенным темам. Сторонние образовательные ресурсы находятся в разделе "Ссылки".
    </h4>
</div>
{% endblock %}

