{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
        <h1>{{ "Материалы" }}</h1>
    <div id="wrapper">
      <!-- Left Menu Links -->

      <div id="list1">
        <ul>

            <li><a href="materials.html">Материалы</a></li>

            <li><a href="tasks.html">Задания</a></li>

            <li><a href="links.html">Ссылки</a></li>

        </ul>
      </div>
</div>
<div class="col-md-offset-0">
  <dt><a href="materials/material1.html"><h3>1. Внедрение электронного обучения через знаниепроводящие сети</h3></a></dt>
  <dd><p class="article-description">
Экономические, социальные, технологические успехи таких стран, как Норвегия и Южная Корея заставляют внимательно оценить их инвестиции в области электронного обучения. Их университеты уверенно занимают лидирующие позиции в мирe. Университеты стран Таможенного союза сегодня не относятся к числу законодателей моды по электронному обучению, но мы имеем возможность сравнить
качество наших разработок с уровнем лидеров в этом направлении. Нам необходимо строить стратегию разработок таким образом, чтобы догонять опережая и взглянуть на ситуацию с позиции решения изобретательских задач. Следуя логике, предполагаем, что необходимо определить направления,
которые могут дать нам такой результат. Предлагается создавать знаниепроводящие сети. Организация проводящих сетей подразумевает создание условий для большей доступности предлагаемого товара, а знания, в современных реалиях, — это тоже товар.</p></dd>
  <dt><a href="materials/material2.html"><h3>2. Электронные учебные курсы для электронных продуктов в области образования</h3></a></dt>
  <dd><p class="article-description">Сегодня возможности цифрового управления качеством учебного процесса в реальном масштабе времени возрастают благодаря использованию электронных учебных
курсов, автоматизированных обучающих систем с искусственным интеллектом, математических моделей, инсайдерской информации и облачных технологий. Внедрение электронного обучения влечет за собой разработку новых способов проведения аудиторных
занятий.</p></dd>
    <dt><a href="materials/material3.html"><h3>3. Проектирование технологий и новых форм электронного обучения с помощью математических моделей</h3></a></dt>
  <dd><p class="article-description">Сегодня возможности цифрового управления качеством учебного процесса в реальном масштабе времени возрастают благодаря использованию математических моделей, инсайдерской информации и
облачных технологий. Внедрение электронного обучения влечёт за собой разработку новых способов проведения аудиторных занятий.</p></dd>
     <dt><a href="materials/material4.html"><h3>4. Использование многоуровневой модели при реализации электронного обучения</h3></a></dt>
  <dd><p class="article-description">Электронное обучение (e-learning) создает и продолжает активно развивать новый тип обучения благодаря организации образовательного процесса, типичного для третьего этапа развития учебных заведений человечества. Работа многоуровневого сетевого протокола является примером создания модели для понимания проблемы анализа и проектирования электронного обучения.</p></dd>
     <dt><a href="materials/material5.html"><h3>5. Облачные технологии и их роль в развитии электронного обучения</h3></a></dt>
  <dd><p class="article-description">Электронное обучение для развития нуждается в организации центров обработки данных (ЦОД). В сфере образования ЦОД позволят создать
электронные библиотеки и сделать дистанционное обучение доступнее. Но создание ЦОД образования имеет свою специфику.
Ключевые слова: электронное обучение, центры обработки данных, электронные библиотеки, цифровой тьютор.</p></dd>
</dl></div>
    <ul class="ul-item">
{% for video in videos %}
        <br>
        <br>
    <li class="video-list-element"><iframe width="800" height="600" src="{{ video.link }}" frameborder="0" allowfullscreen></iframe></li>
        <br>
        <br>
        {% endfor %}

        <!--<iframe align="center" class="video-list-element" width=800" height="600" src="https://www.youtube.com/embed/FBAns6D1VOU" frameborder="0" allowfullscreen></iframe>-->
</ul>
</div>
{% endblock %}
