{% extends "base.html" %}

{% block title %}
{% if is_favourite %}
        <a href="/deletefromfavourites/material4">★ Убрать страницу из закладок</a>
        {% else %}
        <a href="/addtofavourites/material4">☆ Добавить страницу в закладки</a>
        {% endif %}
       <h2>{{ "Использование многоуровневой модели при реализации электронного обучения" }}</h2>
{% endblock %}

{% block content %}

<div class="container-fluid">

    <p class="article-description">Электронное обучение (e-learning) создает и продолжает активно развивать новый тип обучения бла-
годаря организации образовательного процесса, типичного для третьего этапа развития учебных за-
ведений человечества. Работа многоуровневого сетевого протокола является примером создания мо-
дели для понимания проблемы анализа и проектирования электронного обучения.</p>
    <p class="article-description">Итак, рассмотрим компьютерные сети.
В чём их отличие от утилитарного пред-
ставления о компьютерах, и почему и как
необходимо объединять компьютеры, соз-
давая сети? Как гарантировать корректную
работу широкого спектра самого различ-
ного оборудования и программного обе-
спечения? Если свести вопросы проекти-
рования и разработки компьютерных се-
тей в таблицу (таблица 1), и задать эти же
вопросы относительно электронного об-
учения, то очевидной станет их актуаль-
ность и для сферы образовательных тех-
нологий. Сам собой напрашивается вывод:
возможно, существуют и однотипные ре-
шения возникающих проблем? Попробу-
ем обобщить некоторые из этих решений
и оценим их перспективность для ЭО.</p>
    <p class="article-description">Компьютерные сети, как правило, со-
стоят из различного оборудования разных
производителей, и без принятия всеми
производителями общепринятых правил
построения персональных компьютеров и
сетевого оборудования, обеспечить нор-
мальное функционирование сетей было
бы невозможно. То есть, для обеспечения
нормального взаимодействия этого обору-
дования в сетях необходим единый уни-
фицированный стандарт, который опре-
делял бы алгоритм сетевой передачи ин-
формации.</p>
    <p class="article-description">Даже беглый взгляд показывает, что для
одних проблем ЭО решения уже найдены
и они аналогичны решениям для компью-
терных сетей, для других — решения пока
проблематичны. Интуиция подсказывает,
что скорее всего эти проблемы также будут
решены по аналогии решений, найденных
для сетей. Возьмем, например, проблему
обеспечения совместной работы разнотип-
ного сетевого оборудования от различных
производителей. Без принятия всеми про-
изводителями общепринятых правил в ви-
де жестких отраслевых стандартов постро-
ения персональных компьютеров и сетево-
го оборудования, обеспечить нормальное
функционирование сетей было невозможно.</p>
    <p class="article-description">В современных вычислительных сетях
роль такого стандарта выполняют сете-
вые протоколы. В связи с тем, что описать
единым протоколом взаимодействия меж-
ду устройствами в сети не представляет-
ся возможным, то необходимо было раз-
делить процесс сетевого взаимодействия
на ряд концептуальных уровней (модулей)
и определить функции для каждого моду-
ля и порядок их взаимодействия, приме-
нив метод декомпозиции.</p>
    <p class="article-description">Используется многоуровневый подход
метода декомпозиции, в соответствии с
которым множество модулей решающих
частные задачи упорядочивают по уровням, образующим иерархию, процесс сетевого
взаимодействия можем представить в ви-
де иерархически организованного множе-
ства модулей (рисунок 1). Многоуровневое
представление средств сетевого взаимодей-
ствия имеет свою специфику, связанную
с тем, что в процессе обмена сообщения-
ми участвуют две стороны, например, два
персональных компьютера (ПК). То есть, в
этом случае необходимо организовать со-
гласованную работу двух иерархий, рабо-
тающих на разных компьютерах.</p>
    <p class="article-description">Оба участника сетевого обмена должны
принять множество соглашений. Соглаше-
ния должны быть приняты для всех уров-
ней, начиная от самого низкого, уровня
передачи битов, до самого высокого, реа-
лизующего сервис для пользователя. Де-
композиция предполагает четкое опреде-
ление функции каждого уровня и интер-
фейсов между уровнями. Взаимодействие
одноименных функциональных уровней по
горизонтали осуществляется посредством
протоколов. Протоколом называется набор
правил и методов взаимодействия одно-
именных функциональных уровней объ-
ектов сетевого обмена. Взаимодействие
функциональных уровней по вертикали
осуществляется через интерфейсы. Интер-
фейс определяет набор функций, которые
нижележащий уровень предоставляет вы-
шележащему уровню. Таким образом, ме-
ханизм передачи какого-либо пакета ин-
формации через сеть от клиентской про-
граммы, работающей на одном компьютере,
например, на ПК1, к клиентской програм-
ме, работающей на другом компьютере
(ПК2), можно условно представить в виде
последовательной пересылки этого пакета
сверху вниз: от верхнего уровня, обеспечивающего взаимодействие с пользова-
тельским приложением, к нижнему уров-
ню, организующему интерфейс с сетью, его
трансляции на ПК1и обратной передачи
верхнему уровню уже на ПК2. Коммуни-
кационные протоколы могут быть реали-
зованы как программно, так и аппаратно.
Протоколы нижних уровней часто реали-
зуются комбинацией программных и ап-
паратных средств, а протоколы верхних
уровней — как правило, чисто программ-
ными средствами. Протоколы реализуют-
ся не только компьютерами, но и другими
сетевыми устройствами — концентрато-
рами, мостами, коммутаторами, марш-
рутизаторами и т.д. В зависимости от ти-
па устройств в нем должны быть встроен-
ные средства, реализующие тот или иной
набор протоколов. Иерархически органи-
зованный набор протоколов, достаточный
для организации взаимодействия узлов в
сети, называется стеком коммуникацион-
ных протоколов. В сети Интернет базовым
набором протоколов является уже упоми-
навшийся (см. таблицу 1) стек протоколов
TCP/IP. В локальных сетях, как правило, ис-
пользуется разделяемая среда передачи дан-
ных (моноканал) и основная роль отводит-
ся протоколам физического и канального
уровней, так как эти уровни в наибольшей
степени отражают специфику локальных
сетей. Сетевая технология — это согласо-
ванный набор стандартных протоколов и
реализующих их программно-аппаратных
средств, достаточный для построения вы-
числительной сети. Сетевые технологии
называют базовыми технологиями или се-
тевыми архитектурами. Сетевая архитек-
тура определяет топологию и метод до-
ступа к среде передачи данных, кабельную систему или среду передачи данных,
формат сетевых кадров тип кодирования
сигналов, скорость передачи. В современ-
ных вычислительных сетях широкое рас-
пространение получили различные сете-
вые архитектуры, в частности такие как:
Ethernet, Token-Ring и т.д.</p>
    <p class="article-description">Что мы сегодня встречаем в компо-
нентах, реализующих электронные сред-
ства обучения? Обратимся к таблице 1 и
сравним наличие проблем и их решений
для вычислительных сетей и ЭО. Мы ви-
дим, что проектирование подразумевает
создание иерархической структуры и на-
личие широкого спектра технических и
программных компонентов. Для их про-
ектирования и последующей реализации
в виде аппаратно-программного продук-
та разработчики идут по пути создания
цифровых моделей [2], программ с искус-
ственным интеллектом — виртуальных
агентов — цифровых тьюторов [3], авто-
матизированных обучающих систем [4],
облачных приложений и знаниепроводя-
щих сетей [5,6]. Все эти объекты работают
на одну цель — обеспечение качества элек-
тронного обучения. Как они корреспонди-
руются друг с другом в рамках одной за-
дачи? Логично предположить, что это не-
кая многоуровневая структура, например
модель, где каждый уровень отвечает (ре-
ализует) свою задачу.</p>
    <p class="article-description">Рассмотрим подробнее многоуровне-
вую модель электронного обучения (ри-
сунок 2) и определим, какие компонен-
ты входят в её состав, и функции, которые
поддерживаются при их наличии в составе
комплекса. Отметим сразу, что те или иные
элементы могут отсутствовать, в зависи-
мости от сложности и реализуемых ком-
плексом задач, а также их число может ва-
рьироваться, если этого требует ситуация
или технические требования.
В качестве 1 уровня предлагается ре-
ализовать уровень электронных учебных
курсов (ЭУК), представленный на рисунке
3 «Уровень проектирования ЭУК». В зави-
симости от подхода к функционалу и зада-
чам, решаемым ЭУК, этот уровень может
включать подуровни (уровни), соответству-
ющие классификации ЭУК, в зависимости
к какому эволюционному этапу этот обра-
зовательный продукт относится [7]:</p>
    <p class="article-description">— Технологическому подуровню (ЭУК —
полученные в результате простого скани-
рования).</p>
    <p class="article-description">— Системотехническому подуровню (ЭУК —
ориентированные на работу в составе автома-
тизированных образовательных систем — АОС).</p>
    <p class="article-description">— Системно-технологическому поду-
ровню (ЭУК — объединяющие эти два под-
хода, способные кроме работы в составе
АОС, работать автономно, вне системы, но
с некоторым ограничением функционала).</p>
    <p class="article-description">— Подуровень облачных приложений.
Компоненты ЭУК и АОС расположены на
облаке. Их параметры настраиваются в за-
висимости от требований клиента. Обеспе-
чивается высокая эластичность и масшта-
бируемость образовательной среды.</p>
    <p class="article-description">Последующие уровни (подуровни) име-
ют существенные отличия от первых, в силу объектов, для которых они проектиру-
ются и функционируют.</p>
    <h3>Заключение</h3>
    <p class="article-description">
На заре проектирования вычислитель-
ных сетей существовало много проблем, об-
условленных различными подходами про-
ектировщиков при решении поставленных
задач, разнородностью оборудования, про-
граммного обеспечения, работой по раз-
личным стандартам и возможностями фи-
нансирования. Добиться требуемых (при-
емлемых) результатов, удалось благодаря
упорядочению роли и функций всех ком-
понентов, то есть за счёт введения прото-
колов, регламентирующих обслуживание
(программное и аппаратное) информаци-
онного обмена. Особенность решения, по-
зволившего достигнуть требуемого резуль-
тата — многоуровневые протоколы.</p>
    <p class="article-description">Для достижения требуемого уровня в
электронном обучении, полезно учесть
опыт разработчиков сетей, и, используя
аналогию, рассматривать вопросы проек-
тирования электронных образовательных
комплексов посредством многоуровневой
модели. Пример использования предлага-
емого подхода в качестве инструмента для
анализа модели ЭО приведен в данной ста-
тье, а для компонентов, входящих в её со-
став даны ссылки на литературу, где опи-
саны вопросы их проектирования.</p>
    <h3>Литература</h3>
    <p class="article-description">1. Смолин, О.Н. Электронное обучение и стратегия образования для всех / О.Н. Смолин. 9-я Междуна-
родная конференция «Современные технологии обучения в компаниях и учебных учреждениях». —
Москва: Экспоцентр, 2012.</p>
    <p class="article-description">2. Рогальский, Е.С. Использование модели Маркова как инструмента для разработки электронных учеб-
ных курсов / Е.С. Рогальский // Научно-технический и научно-практический журнал «Инновационные
образовательные технологии» No 3 (35). — 2013. г. Минск, 2013. — С. 34—42.</p>
    <p class="article-description">3. Рогальский, Е.С. Анализ и настройка виртуального агента — инструмента для разработки электрон-
ных учебных курсов / Е.С. Рогальский // Материалы 6-й Международной научно-техническая конфе-
ренции «Приборостроение-2013» / М.: БНТУ, Минск, Республика Беларусь. — С. 449—451.</p>
    <p class="article-description">4. Рогальский, Е.С. Аспекты использования систем управления учебным процессом при внедрении се-
тевых обучающих технологий / Е.С. Рогальский // Научно-методический журнал «Столичное образо-
вание сегодня», No 6/2010. — С. 22—27. — Минск: «Адукацыя i выхаванне».</p>
    <p class="article-description">5. Рогальский, Е.С. Облачные технологии и их роль в развитии электронного обучения / Е.С. Рогаль-
ский // Научный журнал «Исследования наукограда» No 1 (7). — 2014. — С. 42—49. </p>
    <p class="article-description">6. Рогальский, Е.С. Глава 2.3 Использование облачных образовательных ресурсов как инструмента
электронного обучения. Информатизация и компьютеризация образовательного процесса: моногра-
фия // В.А. Касторнова, О.В. Ларина, Т.Г. Везиров [и др.]; Сибирский федеральный ун-т; Красноярский
государственный педагогический ун-т им. В. П. Астафьева, [и др.]. — Красноярск: ООО «Центр инфор-
мации», ЦНИ «Монография», 2014. —С. 117—132.</p>
    <p class="article-description">7. Рогальский, Е.С. Глава 3 Роль электронного обучения в формировании современного образователь-
ного пространства. Инновационные технологии в образовании: монография / Г.В. Яковлева, С.А. Пав-
лова, Е.С. Рогальский [и др.]; под общ. ред. Н.В. Лалетина; Сибирский федеральный ун-т; Красноярский
государственный педагогический ун-т им. В.П. Астафьева. — Красноярск: ООО «Центр информации»,
ЦНИ «Монография», 2013. — С. 159—181.</p>
    <p class="article-description">8. Рогальский, Е.С. Глава 1. Практические подходы к решению задач электронной педагогики. Совре-
менные информационно-коммуникационные технологии в образовании: монография / Е.С. Рогаль-
ский, Е.В. Елисеева, С.Н. Злобина [и др.]; под общ. ред. Н.В. Лалетина; Сибирский федеральный ун-т;
Красноярский государственный педагогический ун-т им. В.П. Астафьева, [и др.]. — Красноярск: Центр
информации, 2012. С. 8—26.</p>


    <a href="https://storage.googleapis.com/alesia-project-documents/material4.pdf"><button type="button" class="btn btn-primary">Download</button></a>
</div>
{% endblock %}

