{% extends "base.html" %}

{% block title %}
{% if is_favourite %}
        <a href="/deletefromfavourites/material2">★ Убрать страницу из закладок</a>
        {% else %}
        <a href="/addtofavourites/material2">☆ Добавить страницу в закладки</a>
        {% endif %}
<h2>{{ "Электронные учебные курсы для электронных продуктов в области образования" }}</h2>
{% endblock %}

{% block content %}


<div class="container-fluid">
<p class="article-description">Сегодня возможности цифрового управления качеством учебного процесса в ре-
альном масштабе времени возрастают благодаря использованию электронных учебных
курсов, автоматизированных обучающих систем с искусственным интеллектом, матема-
тических моделей, инсайдерской информации и облачных технологий. Внедрение элек-
тронного обучения влечет за собой разработку новых способов проведения аудиторных
занятий.</p>
    <p class="article-description">Существуют направления научных исследований, где отечественная наука (имеются в ви-
ду страны постсоветского пространства, такие как Беларусь, Россия, Казахстан и т. д.) в числе
мировых лидеров не представлена. В такой ситуации, естественно, необходимо учитывать пе-
редовой опыт и стремиться соответствовать научному уровню лидеров, т. е. догонять. Но до-
гонять можно по-разному. Можно догонять, ориентируясь на передовые научные достижения,
при этом все время оставаясь чуточку сзади, обрекая себя на вечную участь догоняющих. До-
гонять можно опережая. Для этого необходимо четко определить стратегию исследований и
те ресурсы, которые позволят осуществить прогресс.</p>
    <p class="article-description">Электронное обучение является, по сути дела, локомотивом практически всех разработок
в сфере образования. Ничего удивительного здесь нет. Заместитель председателя Комитета
Государственной Думы Российской Федерации по образованию О. Н. Смолин [1] в одном из
своих выступлений напоминает: «... существует целая концепция, согласно которой, с точки
зрения организации образовательного процесса, можно выделить три этапа в этой истории
человечества.</p>
    <p class="article-description">Этап первый. Условно говоря, индивидуальное образование. Система «учитель – ученик».
Классические примеры: Древняя Греция, Сократ или Платон, гуляющие по саду со своими
учениками.</p>
    <p class="article-description">Этап второй. Аудиторный. Система классно-урочная, характерная для индустриального
общества. Классик – Ян Амос Каменский.</p>
    <p class="article-description">Этап третий. Формируется в XXI веке. Это система, во многом базирующаяся на элек-
тронном обучении и информационных образовательных технологиях» [1].</p>
    <p class="article-description">Учебный процесс, как и любую другую технологию, можно рассматривать с позиции ка-
чества управления. Малоэффективная организация управления с помощью аналоговых управ-
ляющих элементов не вызывает энтузиазма в эпоху компьютеров и цифрового управления. На
первый взгляд, относительно учебного процесса проблем оцифровки не существует. Рейтин-
говая десятибалльная система прочно вошла в практику педагогической деятельности. Однако
это справедливо лишь тогда, когда речь идет об итоговой фиксации достигнутого результата,
или в качестве оцифровки рейтинга. Проблема выглядит иначе при попытках управлять учеб-
ным процессом с помощью компьютерных программ с организацией обратных связей в циф-
ре, причем в реальном масштабе времени. Такой образовательный продукт весьма актуален на
рынке образовательных услуг.</p>
    <p class="article-description">Подобная трактовка при постановке задачи проектирования учебного процесса вызывает
большое количество вопросов. Какое управление, в чем его смысл? Веками обходились дос-
кой и мелом, а тут оцифровка, обратные связи и прочие никому не нужные атрибуты. Нет
смысла вступать в полемику, лучше посмотрим на реалии с современных позиций. Сегодня
студенты, выполняя индивидуальные задания, лабораторные работы, курсовые проекты и
прочие виды учебной деятельности, сталкиваются с большими объемами вычислительной ра-
боты. Наиболее эффективный и экономически целесообразный подход при решении подоб-
ных задач – это использование облачных информационных технологий обработки больших
данных. Для подтверждения приведем пример. «По исследованиям компании EMC, объем
данных, сгенерированных в 2012 г., составляет 2,8 зеттабайта (10^21 байт), а к 2020 г. эта
цифра дорастет до 40 зеттабайт, что превосходит предыдущие прогнозы на 14 %. Можно сме-
ло констатировать, что мы уже столкнулись с «великим потопом данных» и одним из ответов
на это является рост доли самых больших дата-центров (центров обработки данных – ЦОД по
принятой у нас терминологии), которые часто называют «мега-ЦОД» — их доля по разным
оценкам составляет примерно 25 % рынка современных серверов» [2]. Ясно, что необходимо
обратить внимание на облачные технологии, применимые в сфере образовательных услуг, для
чего следует выявить направления основных тенденций именно в этой области. Существуют и
другие проблемы, связанные с управлением цифровыми потоками во время учебного процес-
са. Для их решения разработчики идут по пути создания цифровых моделей [3], программ с
искусственным интеллектом – виртуальных агентов – цифровых тьюторов [4], автоматизиро-
ванных обучающих систем [5], облачных приложений и знаниепроводящих сетей [6]. Все эти
вопросы изучены в литературе, но остается достаточно специфических проблем, которым бу-
дет уделено внимание в данной работе.</p>
    <p class="article-description">При рассмотрении данной темы будем рассматривать круг вопросов как своеобразную пе-
реходную «бридж-технологию», которая представляет интерес как процесс: практика, тен-
денции, перспектива.</p>
    <p class="article-description">Что нам сегодня дает практика в области электронного образования (e-learning)? Это
наличие огромного количества электронных учебных курсов (ЭУК). Мы не будем вникать в
детали их создания, оценки уровня и другие нюансы. Это описано в литературе [7]. Отметим,
что это – эволюционный путь от простейших оцифровок или сканирования, так называемый
«технологический этап», до «системотехнического этапа» – с разделением функций информа-
ционной среды и ЭУК, и переходящим в дальнейшем в «системно-технологический этап»,
объединяющий оба эти направления. Таким образом, мы имеем переход от практики к тен-
денциям.</p>
    <p class="article-description">Дальнейшая эволюция, показанная на 4 этапе (см. рисунок), открывает перспективы
этапа ЭУК в виде «облачных приложений». В чем преимущества такого решения? Это вариа-
тивность использования: можно использовать индивидуально, при самоподготовке или само-
стоятельном изучении; можно использовать аудиторно, при различных видах учебных заня-
тий, например в «Вебинарах». Возможно использование отдельных фрагментов или частей
продукта (при тренингах, тестировании, разработке опросных листов и контрольных заданий).
Конечно это и организация дистанционного обучения, причем с возможностью автоматизиро-
ванного зачета выполненных учебных заданий. Есть и еще одно интересное свойство. Можно
предположить, что однотипные ЭУК будут располагаться на одном облачном ресурсе. Стати-
стика посещений будет фактически отражать рейтинг однотипных ЭУК. А это, если относить-
ся серьезно к качеству учебного процесса, уже рынок образовательных услуг (рынок ЭУК)
и возможность управления качеством ЭУК.</p>
    <p class="article-description">Отметим сразу, что ЭУК – это фундамент для всех электронных продуктов в области об-
разования. Это следует понимать при использовании современных интернет-технологий про-
ведения занятий и новых форм организации учебного процесса с элементами дистанционно-
сти: вебинары, эрудит-аукционы, удаленное присутствие учеников, присутствие сразу не-
скольких преподавателей – консультантов на медицинских практикумах, семинарах по искус-
ству и творческим профессиям и другие, продвинутые формы. Особое место занимают авто-
матизированные обучающие системы (АОС), использующие цифровое управление и инсай-
дерскую информацию – внутреннюю служебную информацию (лепестковые диаграммы),
позволяющую эффективно управлять учебным процессом, используя цифровое управление
[8] и математические модели [9], например цепи Маркова. И конечно, нельзя обойти внима-
нием степень интеллектуальности АОС, обеспечиваемую многоуровневым последовательно-
фреймовым тьютором * [10].</p>
    <p class="article-description">Возникает вопрос: «А почему так сложно, будет ли полученный результат адекватен за-
тратам при его достижении?» В защиту своей позиции хочу отметить, что времена простых и
очевидных решений уже прошли. Мы живем в эпоху высоких технологий, и образование не
является исключением. Подтверждение тому приводимая ранее цитата: «...объем данных,
сгенерированных в 2012 г., составляет 2,8 зеттабайта (10^21 байт), а к 2020 г. эта цифра до-
растет до 40 зеттабайт» [2]. Смысл разработки направления электронного обучения в разра-
ботке таких образовательных продуктов, которые обеспечивают конгнитивность обучения за
счет создания условий, при которых каждый обучаемый достигает своего индивидуального
максимума при получении знаний [10]. Это не простая задача, тем более что студент не дол-
жен испытывать никаких трудностей методического характера. Не студент должен вникать,
как суметь извлечь пользу от обучающей системы, это электронная среда должна учесть все
требуемые факторы и адаптивно настраиваться на диалог со студентом. Все предлагаемые
материалы должны быть интуитивно понятны, в процессе обучения задействована образно-
сенсорная система восприятия совместно с символьно-логической, в распоряжении студента
полный доступ к поисковым системам и электронным библиотекам.</p>
    <p class="article-description">Ключ к успеху – сбалансированность всех звеньев цепи, обеспечивающей электронное
обучение. Все электронные продукты должны быть ориентированы на достижение одной це-
ли – обеспечение качества образования. Это уровень и качество ЭУК, это качественные ха-
рактеристики АОС с искусственным интеллектом, это типы новых электронных форм прове-
дения учебного процесса. Сегодня они реализованы по многим направлениям (в тексте приве-
дены ссылки на соответствующую литературу), некоторые в стадии разработки, существенный качественный прорыв прогнозируется при повсеместном переходе на облачные техноло-
гии.</p>
    <h3>Литература</h3>
    <p class="article-description">1. Смолин О. Н. Электронное обучение и стратегия образования для всех // 9-я Междунар. конф.
«Современные технологии обучения в компаниях и учебных учреждениях», Москва, 5 июня 2012.
М. : Экспоцентр, 2012.
    <p class="article-description">2. Мега-ЦОДы – пионеры инноваций [Электронный ресурс]. URL: http://habrahabr.ru/post/182104/
(дата обращения: 04/06/2013).</p>
    <p class="article-description">3. Рогальский Е. С. Использование модели Маркова как инструмента для разработки электронных
учебных курсов // Инновационные образовательные технологии. 2013. No 3 (35). С. 34–42.
</p>
    <p class="article-description">4. Рогальский Е. С. Анализ и настройка виртуального агента – инструмента для разработки элек-
тронных учебных курсов: материалы 6-й Междунар. науч.-техн. конф. «Приборостроение–2013».
Минск : БНТУ, 2013. С. 449–451.</p>
    <p class="article-description">5. Рогальский Е. С. Аспекты использования систем управления учебным процессом при внедрении
сетевых обучающих технологий // Столичное образование сегодня. 2010. No 6. С. 22–27.
</p>
    <p class="article-description">6. Рогальский Е. С. Внедрение электронного обучения через знаниепроводящие сети // Инновацион-
ные образовательные технологии 2014. No 1(37). С. 29–35.
</p>
    <p class="article-description">7. Рогальский Е. С. Роль электронного обучения в формировании современного образовательного
пространства // Инновационные технологии в образовании / Г. В. Яковлева [и др.] ; под общ. ред.
Н. В. Лалетина ; Сиб. федер. ун-т ; Краснояр. гос. пед. ун-т им. В. П. Астафьева, Красноярск :
ООО «Центр информации», ЦНИ «Монография», 2013. С. 159–181.
</p>
    <p class="article-description">8. Рогальский Е. С. Проектирование технологий и новых форм электронного обучения с помощью
математических моделей // Инновационные образовательные технологии. 2014. No 2(38). С. 33–39.
</p>
    <p class="article-description">9. Рогальский Е. С. Облачные технологии и их роль в развитии электронного обучения // Исследова-
ния Наукограда. 2014. No 1 (7). С. 42–49.
</p>
    <p class="article-description">10. Рогальский Е. С. Использование электронных учебников в системе управления учебным процес-
сом // Столичное образование сегодня. 2008. No 1. С. 113–118.</p>
</p>


   <a href="https://storage.googleapis.com/alesia-project-documents/material2.pdf"> <button type="button" class="btn btn-primary">Download</button></a>
</div>
{% endblock %}

