{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
        <h2>{{ "Внедрение электронного обучения через знаниепроводящие сети" }}</h2>
     <div id="wrapper">
      <!-- Left Menu Links -->

      <div id="list1">
        <ul>

            <li><a href="materials.html">Материалы</a></li>

            <li><a href="tasks.html">Задания</a></li>

            <li><a href="links.html">Ссылки</a></li>

        </ul>
      </div></div>
    <h3>Введение</h3>
         <div class="col-md-offset-0">

    <p class="article-description">
Электронное обучение является, по сути
дела, локомотивом практически всех разработок в сфере образования. Ничего удивительно здесь нет. Заместитель председателя Комитета Государственной Думы
Российской Федерации по образованию
О.Н. Смолин <a href="#ref1">[1]</a>, в одном из своих выступлений, напоминает: «... существует целая концепция, согласно которой, с точки зрения организации образовательного процесса, можно выделить три этапа в
этой истории человечества.</p>
    <p class="article-description"><b>Этап первый. </b>Условно говоря, индивидуальное образование. Система учитель —
ученик. Классические примеры: Древняя
Греция, Сократ или Платон, гуляющие по
саду со своими учениками.</p>
    <p class="article-description"><b>Этап второй.</b> Аудиторный. Система
классно-урочная, характерная для инду-
стриального общества. Классик — Ян Амос
Каменский</p>
    <p class="article-description"><b>Этап третий.</b>  Формируется в 21 веке.
Это система, во многом базирующаяся на
электронном обучении и информационных образовательных технологиях»
<a href="#ref1">[1]</a>.</p>
    <p class="article-description">Возникает ситуация, воспользоваться
ли передовым зарубежным опытом (как
мы чаще всего и поступаем), или продвигать что-то своё? В первом случае, мы будем постоянно в роли догоняющих. Но не
это самое страшное. Опасно, раз и навсегда потерять рынок образовательных услуг.
В своём письме от 09 октябрь 2008 No 5.221/2660 Председателю Правительства Российской Федерации В.В. Путину, руководитель фракции КПРФ в Государственной
Думе Г.А. Зюганов и Заместитель председателя Комитета Государственной Думы
по образованию О.Н. Смолин <a href="#ref2">[2]</a> в «Аналитической записке» приводят следующие
аргументы: «Электронное обучение в геополитическом смысле в настоящее время оценивается как <b><i>новая форма (технология) интеллектуальной колонизации</i></b>,
мощнейший фактор международной конкуренции. Рынок России уже заполняется продукцией и услугами других стран и
можно ожидать, что с нашим образованием произойдет то же самое, что происходило с микроэлектроникой, производством
компьютеров, приборов, средств связи, автоматизированными системами управле-
ния и электронной техникой военного назначения.<b><i> Эти отрасли в России за последние 15 лет исчезли</i></b>. Что произойдет
с Россией, если национальная система образования будет заменена на продукцию
и услуги иностранных государств? Можно
предположить, что это приведет к полному краху России как государства и это
может произойти в ближайшее 10-летие». Если мы не хотим этого, нам придётся догонять передовые страны, но догонять опережая. Необходимо определить
те направления, которые могут дать нам
такой результат, и как это реализовать на
практике. Представляют интерес те области научной деятельности, где возможны
точки соприкосновения искусственного
интеллекта и интеллектуальной деятельности человека <a href="#ref3">[3]</a>, что в свою очередь послужит материалом для последующего ана-
лиза. Предлагаю рассмотреть лишь некоторые вопросы использования сетевых
технологий, которые являются ключевыми, на мой взгляд, при достижении поставленной цели. В частности: </p>
    <p class="article-description">—  сетевые технологии, которые улучшают качество жизни человека,</p>
    <p class="article-description">—  сетевые технологии, которые улучшают качество образования.</p>
    <p class="article-description">Сетевые технологии, которые улучшают качество жизни человека, представляют собой весьма обширную группу (класс)
устройств и информационных технологий.
Рассмотрим наиболее перспективные направления. К ним можно отнести использование устройств с цифровым управлением для обеспечения идеологии «Умный
дом». Замечу сразу, что поколению, которому предлагается «Умный дом», весьма вероятно, потребуется и «Умная школа». В этой группе особое место занимает интерактивное цифровое телевидение.
Оно предназначено для удовлетворения
потребностей потребителей не только в
телевидении. Это по сути дела домашний информационный центр, использующий «облачные» технологии. Здесь, помимо стандартных сервисов (your tube, face
book, погода, news и т.д.), располагаемых
на «облаке», предлагаемых провайдерами
интернета, пользователям смарт TV — приёмников 6 типа и выше (по международной классификации), предоставлены личные (семейные) информационные ресурсы
и технологии. Им предлагается фирменный SmartHub. В нашем примере, это сервис от фирмы-производителя
смарт TV Samsung (что вовсе не обязательно, есть и другие фирмы, например, Aquos
от Sharp). Разработанные специалистами,
изучающими потребности человека, предложенные ресурсы помогут вам в воспитании детей, поддержании здоровья, создании семейного архива (альбома), любую
кино и видео продукцию (причём в формате 3D), работу в социальных сетях, коммуникационные технологии и многое другое. Подумали разработчики и об управлении. Такие телевизоры управляются,
кроме привычного пульта управления, с
помощью радио клавиатуры и мыши. Возможно использование смартфонов и Bluetooth — устройств.</p>
     <p class="article-description">Конечно, сетевые технологии, улучшающие качество жизни человека, не исчерпываются досугово-информационным центром. Можно указать, что интерактивное
телевидение предоставляет в распоряжение пользователя и фитнес-технологии, и
самые современные диеты и рецепты питания и т.д. Это лишь маленькая толика
«умных устройств», которые нас окружают. Тем не менее, на примере этого устройства можно показать современные тенденции развития сетевых технологий и их воздействие</p>

     <p class="article-description">Перейдём к сфере образования,
качество которого так же является функцией цифровых технологий, когда речь идёт
об электронном обучении. В работе <a href="#ref4">[4]</a> указывалось, что электронное обучение само приходит в наши дома. Интерактивное
телевидение предлагает нам программы
по воспитанию и программы по обучению, причём эти продукты реализованы, как правило, в двуязычном варианте (английский плюс русский), что приводит, при серьёзном отношении родителей к
возможностям этих ресурсов, к неплохому
владению дошкольниками двумя языками. Попутно следует заметить, что подобные видео материалы доступны так же
и в формате 3D! Помимо двуязычного обучения, такая подготовка позволяет учащимся легко адаптироваться к технологиям электронного обучения (e-learning) при
обучении в школах и гимназиях [4], и технологиям электронных конспектов и электронных учебных курсов [5] — при обучении в университетах. Здесь следует сделать одно, очень существенное замечание.
Такая информационная среда формирует
нового человека (потребителя), он не просто пользуется «умными вещами» и смарттехнологиями, меняет своё отношение к
качеству жизни. Ведущим фактором, который мотивирует такого человека является
его интеллектуальный контент, располагаемый, как правило на «облаке» или «на
облаках». Этот контент создаётся в течение всей жизни и сопровождает человека
повсюду: дома, на даче, в командировке,
путешествии, во время учёбы и отдыха...
Легко ли путешествовать с большим багажом? Насколько мобильнее и динамичнее становится человек (специалист), который всегда имеет под рукой всё, что ему
необходимо?</p>
    <p class="article-description">Да, интерактивное телевидение — мощное современное информационное средство. На его примере мы видим как цифровые сетевые технологии входят в нашу
жизнь. Можно констатировать, что <b>эти сетевые технологии относятся к информационным технологиям, которые
улучшают качество жизни человека</b>. Но
это лишь средство, помогающее в нашей
деятельности. Недостаточно всем просто
посмотреть телевизор и стать образованными. Чтобы всё это начало работать и дало положительный результат в смысле повышения уровня образования, <b>необходимы специальные сетевые технологии,
которые улучшают качество образования</b>, нужна деятельностная функция человека, его мотивация и обеспечение соответствующих условий. Для обеспечения
этих условий необходимо создавать так называемые знаниепроводящие сети <a href="#ref3">[3]</a>. Мы
говорим о рынке образовательных услуг
электронного обучения, поэтому интересно сравнить его с обычным рынком и проанализировать, как развивался рынок. Чем
является рынок на современном этапе в
развитых странах (США, Европа, Гонконг
и т.д.), как изменялись права и функции
покупателей в традиционном, рыночном понимании этой категории социума, и что
такое современные товаропроводящие
сети — ритейл?</p>
    <p class="article-description">Попробуем взглянуть на ситуацию с позиции <b><i>решения изобретательских задач</i></b>.
В результате анализа развития сферы сбыта товаров и услуг, мы выяснили, что для
решения нашей проблемной ситуации целесообразно:</p>
<p class="article-description">—  <b><i>использовать метод переноса проблемы</i></b> на другой рубеж (уровень);</p>
<p class="article-description">—  <b><i>исключить проблемный элемент
из цепочки</i></b>;</p>
<p class="article-description">—  <b><i>изменить функционал сотрудников,
обеспечивающих технологический процесс.</i></b></p>
<p class="article-description">Это и есть вербальная (словесная, описательная) форма алгоритма ритейла, и как
будет показано ниже, подобные заключения можно сделать и для электронного обучения.</p>
    <p class="article-description">Действительно, продавцы частично (в
смысле функционала), подменяются кассирами — операторами, которых, в дальнейшем, так же можно будет исключить. Для
этого разрабатываются новейшие технологии товаропроводящих сетей. Проведя
этот несложный анализ, мы получили алгоритм решения задач для товаропроводящих сетей. Какое отношение имеет всё это
к сфере образовательных услуг? Самое прямое, ведь этот алгоритм можно использовать и для знаниепроводящих сетей (ведь
знание, по сути дела, это, тоже товар). Таким образом, мы получили возможность
сформулировать <b><i>алгоритм решения задач электронного обучения</i></b>. Остаётся добавить «пластиковые карточки» — электронные документы, на которых фиксируется рейтинг, достигнутый обучаемым
во время учебного процесса.</p>
    <h3>Заключение</h3>
    <p class="article-description">Сегодня у молодёжи появилась возможность выбора в решении вопроса о продолжении образования. Уже на ранних стадиях
обучения детям предлагаются различные
обучающие мультимедийные продукты и
прививается привязанность к такой форме обучения (обучайся играя). Когда встаёт
вопрос о продолжении образования, абитуриент может выбрать (или не выбрать)
бюджетную или платную форму обучения,
университеты стран Таможенного союза
(СНГ) или Европы (ЕС, Болонский протокол), Азии и Америки, очную форму или
дистанционное обучение. Решения, предложенные в данной статье, предполагают
продвижение в направлении, позволяющем
догонять опережая. Это создание современной образовательной среды, соответствующих условий и мотивацию для обучения,
математические модели для проектирования, техническое и методическое обеспечение учебного процесса — все эти компоненты при системном подходе способны удовлетворить самым высоким требованиям со стороны обучаемых. Предлагаемые решения, а весь процесс анализируется сквозь
призму создания знаниепроводящей сети, делающей более доступным предлагаемый продукт — знания, и организацию
своеобразной расчётной системы (аналог
кредитной карточки) — многоуровневый
последовательно-фреймовый тьютор. Всё
это так, но остаётся чувство какой — то незавершённости. Конечно, можно сказать, что в
дальнейшем будет модернизация, глубокий
анализ полученных результатов, постоянное внедрение новых разработок и так далее. В своё время у Била Гейтса был на руках
подобный, достаточно широкий набор аргументов. Но сами по себе, подобные результаты почти ничего не решают. <b>Необходимо
их грамотное внедрение! </b>Вот здесь на ведущие роли выдвигаются государственные
и личные интересы сторон, от мнения которых зависит эффективность внедрения.
Билл Гейтс в период внедрения операционной системы Windows в компьютерах фирмы IBM, предложил не цену, а механизм
компенсации затрат разработки Microsoft
операционной системы Windows. Сегодня мы уже знаем, что именно это решение
привело Билла Гейтса к небывалому успеху и сделало его одним из самых богатых
людей на Земле.</p>
     <p class="article-description">Подводя итог, хочу отметить следующее. Необходимо применить такой механизм продвижения этой и подобных разработок в области электронного обучения,
чтобы не растерять достигнутые положительные результаты, не приводить процесс
внедрения к ситуации, где сталкиваются
ведомственные и личные интересы, чтобы работал механизм компенсаций и взаиморасчетов. Нам нельзя увеличивать отставание, нам необходимо догонять опережая. И последнее. <b><i>Очень важно, чтобы
учащиеся получали современные знания,
и при этом учиться им было интересно!</i></b></p>
    <h3>Литература</h3>
     <p class="article-description" ><a name="ref1"></a>1.  Смолин, О.Н. Электронное обучение и стратегия образования для всех / О.Н. Смолин // 9-я Международная конференция «Современные технологии обучения в компаниях и учебных учреждениях» /
Москва. Экспоцентр, 5.06.2012.</p>
    <p class="article-description">
        <p class="article-description"><a name="ref2"></a>2.  Смолин, О.Н. Аналитическая записка и предложения по внесению изменений в нормативные правовые акты, подготовленные рабочей группой Экспертного Совета по вопросам электронного обучения и информационным технологиям в образовании Комитета Государственной Думы по образова-
нию / О.Н. Смолин // 09 октябрь 2008 No 5.2-21/2660 Председателю Правительства Российской Федерации В.В. Путину.</p>
    <p class="article-description"><a name="ref3"></a>3.  Рогальский, Е.С. Инновационные технологии в образовании: монография / Г.В. Яковлева, С.А.Павлова,
Е.С. Рогальский [и др.]; под общ. ред. Н.В. Лалетина; Сиб. федер. ун-т; Краснoяр. гос. пед. ун-т им. В.П. Аста-
фьева. — Красноярск: ООО «Центр информации», ЦНИ «Монография», 2013. — 248 с.</p>
    <p class="article-description"><a name="ref4"></a>4.  Рогальский, Е.С. Использование электронных учебников в системе управления учебным процессом // Е.С. Рогальский // Столичное образование сегодня. — No 1. — 2008. — Минск: «Адукацыя i выхаванне». — С. 113.</p>
    <p class="article-description"><a name="ref5"></a>5.  Рогальский, Е.С. Практические подходы к решению задач электронной педагогики / Е.С. Рогальский //
Современные информационно-коммуникационные технологии в образовании: монография / Е.С. Ро-
гальский, Е.В. Елисеева, С.Н. Злобина [и др.]; под общ. ред. Н.В. Лалетина; Сиб. федер. ун-т; Краснояр.
гос. пед. ун-т им. В.П. Астафьева [и др.]. — Красноярск: Центр информации, 2012. — 220 с.</p>
    <p class="article-description"><a name="ref6"></a>6.  Рогальский, Е.С. Аспекты использования систем управления учебным процессом при внедрении сетевых обучающих технологий / Е.С. Рогальский // Столичное образование сегодня. — No6. — 2010. —
Минск: «Адукацыя i выхаванне». — С. 113.</p>
    <p class="article-description"><a name="ref7"></a>7.  Ритейл TESCO [Электронный ресурс]. — Режим доступа: http://www.tesco.com. — Дата доступа:
20.09.2013.
          <br> <br>
    <a href="https://storage.googleapis.com/alesia-project-documents/material1.pdf"><button type="button" class="btn btn-primary">Download</button></a></p>
         </div>
</div>
{% endblock %}

