{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
        <h2>{{ "Внедрение электронного обучения через знаниепроводящие сети" }}</h2>
    <p class="article-description">Сегодня возможности цифрового управления качеством учебного процесса в реальном масштабе времени возрастают благодаря использованию электронных учебных
курсов, автоматизированных обучающих систем с искусственным интеллектом, математических моделей, инсайдерской информации и облачных технологий. Внедрение электронного обучения влечет за собой разработку новых способов проведения аудиторных
занятий.</p>
    <br>
</div>
{% endblock %}

