{% extends "base.html" %}

{% block title %}
{% if is_favourite %}
        <a href="/deletefromfavourites/material3">★ Убрать страницу из закладок</a>
        {% else %}
        <a href="/addtofavourites/material3">☆ Добавить страницу в закладки</a>
        {% endif %}
        <h2>{{ "Проектирование технологий и новых форм электронного обучения с помощью математических моделей" }}</h2>
{% endblock %}

{% block content %}

<div class="container-fluid">

    <p class="article-description">Как и любую другую технологию, учебный процесс можно рассматривать с позиции качества управления.
        Малоэффективная организация управления с помощью аналоговых управляющих элементов не вызывает энтузиазма в эпоху компьютеров
        и цифрового управления. На первый взгляд, относительно учебного процесса, проблем оцифровки не существует. Рейтинговая
        десятибалльная система прочно вошла в практику педагогической деятельности. Однако это справедливо лишь тогда, когда речь
        идёт об итоговой фиксации достигнутого результата, или, как уже отмечалось, в качестве оцифровки рейтинга.Проблема выглядит
        иначе при попытках управлять учебным процессом с помощью компьютерных программ с организацией обратных связей в цифре,
        причём в реальном масштабе времени.</p>
    <p class="article-description">Подобная трактовка при постановке задачи проектирования учебного процесса вызывает большое
        количество вопросов.Какое управление может осуществляться в учебном процессе, в чём его смысл? Веками педагоги обходились
        доской и мелом, а тут новые способы образования: оцифровка, обратные связи и прочие «никому не нужные атрибуты». Нет смысла
        вступать в полемику, лучше посмотрим на реалии с современных позиций. Выполняя индивидуальные задания, лабораторные работы,
        курсовые проекты и прочие виды учебной деятельности студенты сегодня сталкиваются с большими объёмами вычислительной работы.
        Наиболее эффективный и экономически целесообразный подход при решении подобных задач  — это использование облачных информационных
        технологий обработки больших данных. </p><p class="article-description">Для подтверждения приведём пример. «По последним исследованиям компании EMC, объем данных,
        сгенерированных в 2012 году, составляет 2,8 зетта байта (10^21 байт), а к 2020 году эта цифра дорастет до 40 зеттабайт, что
        превосходит предыдущие прогнозы на 14 %. Можно смело констатировать, что мы уже столкнулись с «великим потопом данных» и одним
        из ответов на это является рост доли самых больших дата-центров (центров обработки данных — ЦОД), которые часто называют
        «мега-ЦОД» — их доля по разным оценкам составляет примерно 25 % рынка современных серверов» [1]. Ясно, что необходимо обратить
        внимание на облачные технологии, применимые в сфере образовательных услуг, для чего следует выявить направления и тенденции
        именно в этой области. </p><p class="article-description">Существуют и другие проблемы, связанные с управлением цифровыми потоками во время учебного процесса.
        Для их решения разработчики идут по пути создания цифровых моделей [2], программ с искусственным интеллектом — виртуальных агентов
        — цифровых тьюторов [3], автоматизированных обучающих систем [4],облачных приложений и знаниепроводящих сетей [5].
        Все эти вопросы изучены в литературе, но остаётся достаточно специфических проблем, которым будет уделено внимание в данной работе.
        В частности мы рассмотрим математическую модель, позволяющую оценить процесс деятельности студента в реальном масштабе времени,
        и посредством организации обратной связи (обратных связей) реализуем эффективное цифровое управление учебным процессом. Задачу
        цифрового управления учебным процессом в реальном масштабе времени можно трактовать как совокупность задач экспресс-диагностики и
        задачи управления учебным процессом в реальном масштабе времени. Задачи подобного типа решались в других областях [6], поэтому мы
        будем использовать уже имеющийся опыт. </p>
    <p class="article-description">Для осуществления перехода к декомпозиции — разделению на составляющие элементы (подзадачи),
        рассмотрим наиболее общую трактовку проблемы в виде математической модели цепи Маркова.Подробно подход описан в [2]. Нас будет
        интересовать лишь отправная точка для анализа. Имеем математическую модель,представленную в виде цепи Маркова, где триада:
        объект обучения — многоуровневый последовательно-фреймовый тьютор — автоматизированная обучающая система (как было
        описано в работе [4]), проходит через последовательность «исправных» (up) и «неисправных» (down) состояний.Представленная модель
        выполняет следующие функции:
—  Позволяет рассчитать количество
рассматриваемых учебных блоков (тем,
модулей и т.д.), в течение интервала времени, отведенного для конкретного учеб
ного занятия (представляет собой этап макропроектирования);
—  Перейти к анализу потоков правильных и неверных ответов на поставленные
вопросы студентов (является этапом микропроектирования).
Этап макропроектирования в данной
постановке задачи считаем завершённым,
а вот относительно этапа микропроекти
рования есть конкретные расширения, позволяющие сформулировать суть перехо
да к цифровому управлению.</p>
        <p class="article-description">Для каждого изучаемого блока имеет
ся некоторое количество ответов базового
уровня, ответы студентов, преодолевших
средний уровень (повышенный) и ответы
студентов на предлагаемые вопросы высокого (продвинутого) уровня сложности.
Будем считать, что ответить на вопрос бо
лее высокого уровня сложности труднее и
поэтому таких ответов меньше. Это позво
ляет предположить для упрощения анализа, что работает правило: чем меньше, тем
дороже. А значит можно допустить, что, например, имеет место соотношение «баз. —
ср. — выс.» как «3μ — 2μ — μ». Данная ситуация представлена на рисунке 2 и опи
сывается уравнениями 1—4:
	 (3μ + 2λ)P 1 = 2μP 2 + P 0 	 (1)
	 (2μ + 3λ)P 2 = μP 3 + 2λP 1 	 (2)
		 μP 3 = 3λP 3 	 (3)
		 3μP 3 = λP 0 	 (4)
Считаем, что поток правильных ответов μ б = 3μ (таких правильных ответов
больше всего), μ ср = 2μ (это второй по интенсивности — количеству правильных от
ветов поток), а μ выс = μ (это поток правильных ответов на самые сложные вопросы).
Для потоков неправильных ответов имеем обратное соотношение (λ б  = λ, λ ср  = 2λ, а
λ выс = 3λ). Такие соотношения более соответствуют действительному положению
вещей.</p>
    <p class="article-description">Решение данных уравнений относительно правильных ответов позволяет
осуществить переход к решению задачи диагностики учебного процесса и построить
график реализации отдельно взятого занятия. Примерный график для рассматри-
ваемого случая представлен на рисунке 3.
Данный график можно использовать
для анализа учебного процесса. Он содержит необходимую информацию, но в ка-
честве инструмента экспресс-анализа и
управления в реальном масштабе времени он неудобен. Для эффективного исполь-
зования графиков в качестве инструмента
экспресс-анализа необходимо повысить их
наглядность и создать интерфейс, пригодный для управления процессом. Для повы-
шения наглядности (визуализации) целесообразно применить другие виды графи-
ков, например, лепестковые диаграммы.
Данный вид диаграмм относится к, так называемым «быстрым» диаграммам, то есть
к графикам, показывающим тенденции
(тренд) без построения дополнительных линий тренда уже с третьего шага. Преоб-
разуем рассматриваемый нами график в
лепестковую диаграмму (рисунок 4).
Очевидно, что тенденции, характерные
для данного учебного процесса, отражены
на рисунке 4. Следовательно, данный способ
представления информации пригоден для
диагностики — экспресс-анализа в реальном
масштабе времени. Теперь необходимо перейти к решению задачи управления. При
этом нежелательно отвлекать преподавателя от учебного процесса для решения (решением должен заниматься другой специалист — ассистент) сопутствующий задачи
(экспресс-анализа). Это означает, что технология управления должна быть чрезвычайно простой и не вносить в деятельность
преподавателя дополнительные элементы
(в нашем случае это означает, что ничего
кроме лепестковой диаграммы преподаватель не должен анализировать). К тому же
необходимо разработать технологию визуального управления. Поэтому введём необходимые инструменты управления, удобные
и доступные преподавателю для управления учебным процессом с использованием лепестковых диаграмм. На наш взгляд,
это должны быть управляющие элементы
(кнопки, регуляторы, и прочие элементы),
позволяющие менять соотношение между
интенсивностями потоков μ и λ (в нашем
примере это 1, 2 и 3). Можно задавать различные соотношения, например 2, 5 и 7.
Очевидно, что при этом изменится вид лепестковой диаграммы (рисунок 5).
<p class="article-description">Может создаться впечатление, что суть
анализа и управления сводится к подбору
этих коэффициентов. Это так и не так одновременно. Смена значений ничего не изменит, соотношение между величинами сохранится, если применять их к результатам
проведенных реализаций учебного процесса.
Иное дело, если изменить настройки цифрового тьютора, ведь смысл изменения коэффициентов — в настройке на оптимальные параметры, позволяющие создать для
студентов необходимые условия для наилучшего усвоения знаний. Меняя коэффициенты между параметрами, тем самым изменяют временные интервалы, необходимые для принятия решения (формулировки
ответа, поиску соответствующей информации, определению порядка величин и т.д.)
студентом по текущему вопросу. В результате меняются интенсивности потоков правильных и неверных ответов. Это относится к студентам. А что извлекают из лепестковой диаграммы преподаватели?
</p>
    <p class="article-description">Первое. В ходе учебного процесса проявляется ситуация относительно усвоения тех
или иных тем (вопросов, разделов, блоков
и так далее). Квалифицированный преподаватель имеет возможность, оценив сложившуюся ситуацию по лепестковой диаграмме, в конце занятия объяснить студентам именно те вопросы, которые вызвали
наибольшие затруднения, или выделить их
в особую группу при формировании задания на самостоятельную подготовку и другие виды внеаудиторных занятий.
</p>
    <p class="article-description">Второе. Анализируя лепестковую диаграмму, преподаватель не обязан изменять все коэффициенты одновременно.
Это можно делать последовательно. Важно понимать, к чему ведёт изменение каждого отдельно взятого коэффициента. При
этом, существенно упрощается и управление учебным процессом в целом. Так, изменение первого коэффициента изменяет
уровень, который является пороговым для
определения минимально базового уровня знаний студента. Второй коэффициент определяет интервал между базовым
и повышенным уровнем. Третий коэффициент позволяет выделить группу студентов, способных не только усвоить предлагаемую информацию в полном объёме, но
использующих её творчески, причём при
решении самых сложных задач. Практически преподаватель имеет возможность
осуществлять изменение коэффициентов в
соотношении между интенсивностями потоков μ и λ на каждом (или отдельно взятом) уровне. Принятие подобных решений
зависит от опыта и квалификации преподавателя, реализующего различные формы электронного обучения.
</p>
    <p class="article-description">Третье. Уже было сказано об этапах
макро- и микропроектирования. Проведя анализ учебного процесса по отдельно
взятым вопросам изучаемой темы, преподаватель имеет возможность добавить или
исключить ряд вопросов (изменяя число
звеньев в модели Маркова), руководствуясь временными параметрами, сложностью
усвоения или потребностью для понимания других вопросов. В результате появ-
ляется возможность проектировать учебный процесс с заданным уровнем качества.
</p>
    <p class="article-description">
        Четвёртое. Накопление статистических данных для разных групп одного по-
тока студентов, для разных групп различных потоков (и даже различных учебных
заведений) при различных коэффициентах, открывает широкие перспективы по
выявлению общих законов проектирования качества учебного процесса. Такая статистика может оказаться чрезвычайно полезной и на долговременную перспективу.
Следует учитывать, что данная информация является по сути дела инсайдерской,
но она очень полезна для анализа преподавателем учебного процесса. Конечно, эта
цифровая информация весьма объёмна, но
здесь приходит на помощь использование
облачных информационных технологий
обработки больших данных.
</p>
    <p class="article-description">Пятое. Работа с информированием преподавателя во время учебного процесса
порождает изменение технологии самого занятия. Полезно вспомнить, что при
рассмотрении задачи управления «нежелательно отвлекать преподавателя от учебного процесса для решения сопутствующий задачи...» Сейчас можно добавить,
что даже при «чрезвычайно простой технологии управления» преподавателю лучше не мешать делать свою работу, тем более если он не имеет навыков менеджера,
управляющего информационными потоками в автоматизированной обучающей системе (АОС). Решение в сложившейся ситуации довольно простое: преподаватель
работает в привычном режиме, а второй
специалист (handler — ассистент, помощник) обеспечивает квалифицированное
управление АОС и предлагает в реальном
масштабе времени текущую информацию
о течении учебного процесса в виде удобных для анализа графиков (лепестковых
диаграмм). В этом случае возникает вопрос об увеличении преподавательского
состава для проведения занятий.
</p>
    <h3>Заключение</h3>
<p class="article-description">В работе рассмотрены перспективные
технологии организации учебного процесса электронного обучения с использованием цифровых моделей [2], программ с искусственным интеллектом — виртуальных
агентов — цифровых тьюторов [3], АОС [4],
облачных приложений и знаниепроводящих сетей [5]. Показано, что при этом появляются новые задачи, которые необходимо решить при реализации. Очевидно, что
приведенные методы и средства позволят
реализовать ряд традиционных форм учебных занятий в электронном виде [7], но существуют и новые формы, которые могут
быть реализованы только в цифровом формате. В качестве примера можно предложить организацию и проведение Вебинаров [8]. Вебинар или Веб-семинар — мероприятие, проходящее в режиме реального
времени в сети Интернет, во время которого один или несколько ведущих могут проводить лекции, презентации, тренинги, совещания для группы от нескольких человек
до нескольких тысяч участников. Очевидно, что в данном случае наличие двух преподавателей уже не выглядит излишеством.
Вебинары расширяют возможности традиционных форм учебных занятий, причём
перечень этих возможностей постоянно
растёт. Отметим некоторые из них:</p>
<p class="article-description">—  Возможность хранить любые нужные
файлы в медиа библиотеке (в том числе и на
облаке) и делиться ими с пользователями.</p>
<p class="article-description">—  Общаться с участниками с помощью
видео и голоса, подключать других участников во время разговора.</p>
<p class="article-description">—  Работать прямо из браузера. Не нужно устанавливать дополнительное про-
граммное обеспечение.</p>
<p class="article-description">—  Записывать вебинары, получая, таким образом, ценные методические материалы, сохраняя их на облаке.</p>
<p class="article-description">—  Приглашать участников заранее через E-mail, социальные сети или прямо во
время Вебинара.</p>
<p class="article-description">—  Возможность удалённой работы за
счёт переноса обучения в онлайн.</p>
<p class="article-description">Формой общения является «coaching» —
коучинг (партнёрство). Ценным при этом
является то, что коучинг создает условия
для самостоятельной успешной компетентностной деятельности, для проектирования индивидуального образовательного
маршрута, индивидуально-личностного саморазвития [9].
Неважно, где находятся ваши студенты —
всегда можно организовать учебный процесс как Вебинар. Показывая слайды или
экран компьютера обучаемым, вы сможете наглядно объяснить суть вопроса. Вебинары всегда проходят интерактивно, ведущий задаёт вопросы участникам, читает их
вопросы и комментарии, общается с участниками. Таким образом, можно определить
Вебинар как, своего рода, Веб-лекцию, где
ведущий с помощью камеры или микрофона излагает материал. Особенность Вебинара состоит в том, что слушатели при этом
могут быть расположены дистанционно.
</p><p class="article-description">В качестве новых форм для проведения
занятий с использованием электронного
обучения можно предложить не только Вебинары. Использование в учебном процессе облачных вычислений привело к разработке новой формы учебного занятия для
электронного обучения. Это — «облачный»
семинар. Участники такого семинара находятся в одном учебном компьютерном
классе. Они разделены на группы (бригады), выполняющие индивидуальные задания, причём каждая бригада использует для
достижения цели свой облачный ресурс.
Все участники семинара находятся территориально в одном классе, но в Интернетпространстве они находятся на разных облаках. Учебная цель семинара состоит в
сравнении и анализе облачных ресурсов,а также в приобретении навыков использования современных информационных
технологий. Такая форма проведения занятий уже апробирована. В рамках учебного курса «Облачные вычисления», предлагаемого автором студентам IV-го курса
Белорусского государственного университета (БГУ) факультета прикладной математики и информатики, был проведен
семинар с использованием материальной
базы ресурсного центра по информатике
Заводского района г. Минска — Учреждения образования «Гимназия No 21». На семинаре изучались методы решения задач
прикладной математики с использованием символьного пакета инженерных расчетов «MATHCAD», установленного на персональные компьютеры. С помощью языков
программирования JAVA и JAVASCRIPT, а
также пакета «VOLFRAM — MATHEMATIKS»
те же задачи решались с использованием
облачных ресурсов. Результаты оценивались с различных позиций, причём заключения делались как авторами вычислений,
так и приглашёнными на семинар учениками выпускных классов гимназии. Помимо чисто математического результата (решения задач прикладной математики), такая форма проведения занятий позволила
оценить реальные преимущества облачных
вычислений, определить какие проблемы
возникают у пользователей облачных ресурсов, и познакомиться с перспективой
облачных вычислений как метода для серьёзных математических расчетов. Дополнительный результат — состоялось знакомство выпускников физико-математических
классов гимназии — ресурсного центра по
информатике с факультетом прикладной
математики и информатики БГУ.</p>

    <h3>Литература / References</h3>
<p class="article-description">1.  Мега-ЦОДы — пионеры инноваций. — Режим доступа:http://habrahabr.ru/post/182104/ Дата досту-
па: 04/06/2013 15:41
Mega-TsODy — pionery innovatsiy. — Mode of access: http://habrahabr.ru/post/182104/. — Date of access: 04.06.2013 15:41.
</p><p class="article-description">2.  Рогальский, Е.С. Использование модели Маркова как инструмента для разработки электронных учеб-
ных курсов / Е.С. Рогальский // Научно-технический и научно-практический журнал «Инновационные
образовательные технологии». Минский институт управления, г. Минск. — 2013. — No 3 (35). С. 34—42.
Rohalsky, E.S. Ispolzovaniye modeli Markova kak instrumenta dlya razrabotki elektronnykh uchebnykh kursov.
Nauchno-tekhnicheskiy i nauchno-prakticheskiy zhurnal “Innovatsionnye obrazovatelnye tekhnologii” No 3(35) 2013
iyul-sentyabr ISSN 2072-8468, Minskiy institut upravleniya, g. Minsk, 2013, s. 92, S. 34-42.
</p>
    <p class="article-description">3.  Рогальский, Е.С. Анализ и настройка виртуального агента инструмента для разработки электронных
учебных курсов / Е.С. Рогальский // Материалы 6-й Международной научно-технической конферен-
ции «Приборостроение — 2013» / М.: БНТУ; — Минск, 2013. — С. 449—451.
Rohalsky, E.S. Analiz i nastroyka virtualnogo agenta-instrumenta dlya razrabotki elektronnykh uchebnykh kursov.
Materialy 6-y Mezhdunarodnoy nauchno-tekhnicheskoy konferentsii “Priborostroyeniye — 2013” / M.: BNTU, Minsk,
Respublika Belarus, s. 471, S. 449—451. UDK 681 2(063), BBK 34.9ya431, P75, ISBN 978-985-550-404-8.
</p>
    <p class="article-description">4.  Рогальский, Е.С. Аспекты использования систем управления учебным процессом при внедрении се-
тевых обучающих технологий / Е.С. Рогальский // Научно-методический журнал «Столичное образо-
вание сегодня». — 2010. — No 6. — С. 22—27.
Rohalsky, E.S. Aspekty ispolzovaniya system upravleniya uchebnym protsessom pri vnedrenii setevykh obuchayushchikh
tekhnologiy. Nauchno-metodicheskiy zhurnal “Stolichnoye obrazovaniye segodnya”, No 6 / 2010, s. 113, S. 22—27,
ISSN 1993-3622, Mn.: “Adukatsiya i vykhavanne”
</p>
    <p class="article-description">5.  Рогальский, Е.С. Внедрение электронного обучения через знаниепроводящие сети / Е.С. Рогаль-
ский // Научно-технический и научно-практический журнал «Инновационные образовательные тех-
нологии». Минский институт управления. — 2014. — No 1 (37).
Rohalsky, E.S. Vnedreniye elektronnogo obucnnye obrazovatelnye tekhnologii” No 1 (37) 2014 yanvar—mart ISSN 2072-
8468, Minskiy institut upravleniya, g. Minsk, 2014.
</p>
    <p class="article-description">6.  Рогальский, Е.С. Автоматическая система контроля работы инкубаторов / Е.С. Рогальский // АС СССР
No 1331462. Зарегистрировано в Государственном реестре изобретений СССР 22 апреля 1987 г., при-
оритет изобретения от 5 июля 1985 г.
Rohalsky, E.S. Avtomaticheskaya sistema kontrolya raboty inkubatorov. AS SSSR No 1331462. Zaregistrirovano v
Gosudarstvennom reyestre izobreteniy SSSR 22 aprelya 1987 g., prioritet izobreteniya ot 5 iyunya 1985 g.
</p>
    <p class="article-description">7.  Рогальский, Е.С. Экспресс-анализ при проведении электронных уроков / Е.С. Рогальский // Матери-
алы III Международной НПК «Робототехника и искусственный интеллект». — г. Железноводск, 2011. —
136 с., С. 117—121.
Rohalsky, E.S. Ekspress-analiz pri provedenii elektronnykh urokov. Materialy III Mezhdunarodnoy NPK “Robototekhnika
i iskusstvenny intellect”, g. Zheleznovodsk, 2 dekabrya 2011, 136 s., S. 117—121.
</p>
    <p class="article-description">8.  Екатерина Буслова Режим доступа: http://vk.com/topic-44643575_27275453, Дата доступа 24.10.2012.
Ekaterina Buslova. — Mode of access: http://vk.com/topic-44643575_27275453. — Date of access: 24.10.2012 10:15.
</p>
    <p class="article-description">9.  Гульчевскя, В.Е. (www.gulchevskaya.ru) Коучинг — инновационная технология поддержки в обуче-
нии и индивидуально-личностном развитии учащихся / В.Е. Гульчевскя // Научно методический жур-
нал «Региональная школа управления». — Ростов н/Д, 2013. No 1.
Gulchevskaya, V.E. (www.gulchevskaya.ru) Kouching — innovatsionnaya tekhnologiya podderzhki v obuchenii i
individualno-lichnostnom razvitii uchashchikhsya. Nauchno-metodichesliy zhurnal “Regionalnaya shkola upravleniya”,
Rostov n/D, 2013, No 1.</p>
    <a href="https://storage.googleapis.com/alesia-project-documents/material3.pdf"><button type="button" class="btn btn-primary">Download</button></a>
</div>
{% endblock %}

